&,
body {
    background: #1E2B35 url('/login.jpg') top/100% 100% no-repeat;
    font-family: sans-serif;
    font-size: 62.5%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --text: #07afd9;
}

.center {
    display: grid;
    place-items: center;
    height: 100%;
}

.loginbox {
    border: white solid 0.2rem;
    margin: 0 auto;
    width: min(75ch, 100% - 4rem);
    padding: 0.3rem;
    font-size: 2rem;
    color: var(--text);

    & a {
        text-decoration: underline;
        line-height: 20px;
        color: wheat;

        &:hover {
            color: white;
        }
    }

    & h1 {
        display: flex;
        justify-content: center;
    }

    & form {
        position: relative;
    }

    & h2 {
        font-weight: bold;
        margin-top: 1rem;
    }

    & input {
        &[type="text"],
        &[type="password"] {
            height: 40px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            font-size: 16px;
            color: white;

            &::placeholder {
                color: wheat;
            }
        }

        &[type="submit"] {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            border: none;
            outline-color: transparent;
            height: 40px;
            background: var(--text);
            font-size: 18px;
            border-radius: 20px;

            &:hover {
                cursor: pointer;
                background: #08c0ee;
                color: black;
            }
        }
    }
}

.dropdown {
    font-size: 1.5rem;
    min-width: 15em;
    position: relative;
    margin: 1em;

    * {
        box-sizing: border-box;
    }
}

.select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem #323741 solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: #323741;
    }
}

.select-clicked {
    border: 0.2rem #26489a solid;
    box-shadow: 0 0 0.8em #26489a;    
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    user-select: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 0.1rem #363a43 solid;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.2);
    border-radius: .5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    height: auto;
    max-height: 12em;
    overflow-y: scroll;

    & li {
        padding: .7em .5em;
        margin: .3em 0;
        border-radius: .5em;
        cursor: pointer;

        &:hover {
            background: #2a2d35;
        }
    }
}

.short {
    overflow-y: hidden;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;

}

::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: rgb(44, 44, 44); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.hide {
    display: none !important;
}