:root {
--primary-color: #07afd9;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  color: var(--primary-color);
  background-color: #1E2B35;
}

.bar {
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #0b0f13;

    & p {
        position: absolute;
        color: white;
        width: 44.25%;
        top: 13.8rem; /*16.3*/
        font-size: 1.5rem;
        text-align: right;
    }
}

.percentage-bar {
    width: 90%;
    border-radius: 1rem;
    background: #0a3fa3;
}

table{
    width: 100%;
    border-collapse: collapse;
    background: #273844;
    color: white;
}

td, th, caption {
    padding: 1rem;
}

caption, th {
    text-align: left;
}

caption {
    background: hsl(210, 27%, 6%);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

th {
    background: hsl(0, 0%, 0%, 0.5);
}

tr:nth-of-type(2n) {
    background: hsl(0, 0%, 0%, 0.1)
}

a {
    color: rgb(0, 110, 255);
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

.link-wrapper {
    display: flex;

    & p, a {
        padding-top: 1rem;
        padding-right: 0.3rem;
        margin: 0;
    }
}

a:hover {
    color: rgb(0, 160, 255);
}

.dropdown {
    font-size: 1rem;
    min-width: 10em;
    position: relative;

    * {
        box-sizing: border-box;
    }
}

.select {
    background: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2rem #323741 solid;
    border-radius: 0.5em;
    padding: 0.85em;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: #323741;
    }
}

.select-clicked {
    border: 0.2rem #26489a solid;
    box-shadow: 0 0 0.8em #26489a;    
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    user-select: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 0.1rem #363a43 solid;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.2);
    border-radius: .5em;
    color: #9fa5b5;
    position: absolute;
    top: 3em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 2;
    height: auto;
    max-height: 12em;
    overflow-y: scroll;

    & li {
        padding: .7em .5em;
        margin: .3em 0;
        border-radius: .5em;
        cursor: pointer;

        &:hover {
            background: #2a2d35;
        }
    }
}

.short {
    overflow-y: hidden;
}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;

}

::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
::-webkit-scrollbar-track {
border-radius: 1rem;
background: rgb(44, 44, 44); 
}

/* Handle */
::-webkit-scrollbar-thumb {
border-radius: 1rem;
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.code {
    max-width: 30rem;
    & input {
        &[type="text"],
        &[type="password"] {
            height: 40px;
            width: 100%;
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            font-size: 16px;
            color: white;
    
            &::placeholder {
                color: wheat;
            }
        }
    
        &[type="submit"] {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            border: none;
            outline-color: transparent;
            height: 40px;
            background: var(--primary-color);
            font-size: 18px;
            border-radius: 20px;
    
            &:hover {
                cursor: pointer;
                background: #08c0ee;
            }
        }
    }
}

label {
    font-size: 1.5rem;
}

form {
    padding-top: 0.7rem;
}

#date-submit, #save {
        border: none;
        outline-color: transparent;
        background: var(--primary-color);
        font-size: 18px;
        border-radius: 20px;

        &:hover {
            cursor: pointer;
            background: #08c0ee;
        }
    }

#save {
    margin-top: 0.5rem;
}

.yes {
    padding: 1rem;
    background-color: green;
}

.no {
    padding: 1rem;
    color: white;
    background-color: red;
}

.neutral {
    padding: 1rem;
    color: black;
    background-color: white;
}

.fake-link {
    background: none;
    border: none;
    color: rgb(0, 110, 255);
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.5rem;

    &:focus {
        outline: none;
    }

    &:hover {
        color: rgb(0, 160, 255);
    }
}